.Category{


    h1{
        text-align: center;
        color: #ccc;
    }
    .meal-card{

        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // gap: .2rem;

        background-color: $color-dark;
        border: 2px solid $color-gold;
      
        display: flex;
        flex-flow: row wrap;
        gap: 1rem 2rem;
        justify-content: center;
        align-items: center;
        

        .meal-body{

            margin: 1rem;
            h3{
                color: $color-gold;
                text-align: center;
                font-size: 2rem;

            }

            img{
                // max-width: 200px;

                border: 5px dotted $color-gold;
                border-radius: 90px;
                width: 300px;
                height: 320px;
                transition: 1s all .5s ease-in-out;
                transition-delay: .2s;

                &:hover{
                    transform: scale(1.5) rotate(360deg);                  
                }

            }

            .stars-container{
                padding: 2px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                max-width: 50%;
                margin-left: 25%;

                .staron{
                    color: yellow;
                    background-color: red;
                    transform: scale(3);
                }

                .stars{
                    text-decoration: none;
                    color: rgb(240, 240, 151);
                    width: 10%;
                    margin: .5rem auto;
                    font-size: 2rem;


                    &:hover, &.active{

                        color: $color-star;
                        transform: scale(2);
                        text-decoration: none !important;
                       
                        text-shadow: 2px 2px black, -2px -2px black;

                        
                    }

                    a{
                        text-decoration: none !important;
                    }
                }

            }


            h4{
                text-align: right;
                color: #ccc;

                &:after, &:checked, &:link, &:visited, &:hover{
                    color: white;
                    text-transform:uppercase;
                }
            }
        }

    }
}